apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  labels:
    app: mixer
    release: istio
  name: istio-mixer-admin-role-binding-default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: istio-mixer-default
subjects:
- kind: ServiceAccount
  name: istio-mixer-service-account
  namespace: default
