.AceEditor--wrapper.helm-values {
    margin-bottom: 100px;
    overflow: auto;
    border: 1px solid #C4C8CA;
    border-radius: 4px;
    
    .error-highlight {
      background:#FBEDEB;
      position: absolute;
    }
  
    .disabled-ace-editor {
      opacity: .5;
    }
  
    .ace_search {
      left: 0;
      right: auto;
    }
  }

.action {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #fff;
  z-index: 10;
  border-top: solid 1px #DFDFDF;
}