.HelmChartInfo--wrapper {
  max-width: 870px;
  align-self: center;

  .HelmChartReadme--wrapper {
    padding-bottom: 100px;
  }

  .action {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #fff;
    border-top: solid 1px #DFDFDF;
    z-index: 10;
  }
}