.AceEditor--wrapper.helm-values {
    margin-bottom: 100px;
    overflow: auto;
    border: 1px solid #C4C8CA;
    border-radius: 4px;
    
    .error-highlight {
      background:#FBEDEB;
      position: absolute;
    }
  
    .disabled-ace-editor {
      opacity: .5;
    }
  
    .ace_search {
      left: 0;
      right: auto;
    }
  }
