##---
# Source: values-update/templates/deployment.yaml
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: deployment
  labels:
    app: my-app
    chart: values-update
    release: values-update
    heritage: Tiller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
      release: values-update
  template:
    metadata:
      labels:
        app: my-app
        release: values-update
    spec:
      containers:
        - name: values-update
          image: "nginx:stable"
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
