# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2

jobs:
  test:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/replicatedcom/ship
    steps:
      - checkout
      - run: make build-deps test
  test_yoonit:
    docker:
      - image: replicated/yoonit:latest
    steps:
      - checkout
      # requires YOONIT_AUTH set to a valid token
      - run: /usr/local/bin/yoonit wait
  deploy_unstable:
    docker:
      - image: circleci/golang:1.9
    working_directory: /go/src/github.com/replicatedcom/ship
    steps:
      - checkout
      - setup_remote_docker
      - run: docker pull alpine:latest # make sure it's fresh
      - deploy:
          command: curl -sL https://git.io/goreleaser | bash -s -- --snapshot --config .goreleaser.unstable.yml
      - run: docker login -u="$DOCKERHUB_DOCKER_USER" -p="$DOCKERHUB_DOCKER_PASS"
      - deploy:
          command: docker push replicated/ship:unstable

workflows:
  version: 2
  build_accept_deploy:
    jobs:
      - test
      - test_yoonit
      - deploy_unstable:
          requires:
            # todo remove test, just use yoonit
            - test
            - test_yoonit
          filters:
            branches:
              only: /master/
