---
- name: one option
  config:
    - name: Kubernetes Cluster
      items:
        - name: namespace
          title: Namespace
  expect_ui_info:
    - Kubernetes Cluster
  responses:
    - question: 'Enter a value for option "namespace":'
      answer: "retraced"
  expect:
    namespace: retraced


- name: one option, with default, no answer
  config:
    - name: Kubernetes Cluster
      items:
        - name: namespace
          title: Namespace
          default: default
  expect_ui_info:
    - Kubernetes Cluster
  responses:
    - question: 'Enter a value for option "namespace" [default]:'
      answer: ""
  expect:
    namespace: default


- name: one option, with default, override answer
  config:
    - name: Kubernetes Cluster
      items:
        - name: namespace
          title: Namespace
          default: default
  expect_ui_info:
    - Kubernetes Cluster
  responses:
    - question: 'Enter a value for option "namespace" [default]:'
      answer: retraced
  expect:
    namespace: retraced


- name: one option, required
  config:
    - name: Kubernetes Cluster
      items:
        - name: namespace
          title: Namespace
          required: true
  expect_ui_info:
    - Kubernetes Cluster
  expect_ui_warn:
    - Option "namespace" is required
  responses:
    - question: 'Enter a value for option "namespace":'
      answer: ""
    - question: 'Enter a value for option "namespace":'
      answer: "retraced"
  expect:
    namespace: retraced

- name: one option, required, has default
  config:
    - name: Kubernetes Cluster
      items:
        - name: namespace
          title: Namespace
          required: true
          default: default
  expect_ui_info:
    - Kubernetes Cluster
  responses:
    - question: 'Enter a value for option "namespace" [default]:'
      answer: ""
  expect:
    namespace: default

- name: one option, required, set in the environment
  osenv:
    NAMESPACE: default
  config:
    - name: Kubernetes Cluster
      items:
        - name: namespace
          title: Namespace
          required: true
  expect_ui_info:
    - Kubernetes Cluster
  responses:
    - question: 'Enter a value for option "namespace" [default]:'
      answer: ""
  expect:
    namespace: default
