/* Utilities */

.u-position--relative { position: relative; }
.u-position--absolute { position: absolute; }
.u-position--fixed { position: fixed; }
.u-bottom--0 { bottom: 0 };
.u-top--0 { top: 0 };
.u-right--0 { right: 0 };
.u-left--0 { left: 0 };
.u-userSelect--none { user-select: none; }
.u-pointerEvents--none { pointer-events: none; }
.u-overflow--hidden { overflow: hidden; }
.u-overflow--visible { overflow: visible; }
.u-overflow--auto { overflow: auto; }
.u-cursor--pointer { cursor: pointer; }
.u-cursor--default { cursor: default; }

.u-minHeight--full { min-height: 100%; }
.u-minWidth--full { min-width: 100%; }
.u-height--full { height: 100%; }
.u-width--full { width: 100%; }
.u-width--half { width: 50%; }
.u-width--third { width: 33.33%; }
.u-width--auto { width: auto; }
.u-height--auto { height: auto; }

/* Spacing utility classes */

.u-margin-none { margin: 0; }
.u-padding-none { padding: 0; }
.u-padding--small { padding: 6px; }
.u-paddingRight--20 { padding-right: 20px; }
.u-paddingLeft--20 { padding-left: 20px; }
.u-paddingRight--30 { padding-right: 30px; }
.u-paddingLeft--30 { padding-left: 30px; }
.u-paddingTop--20 { padding-top: 20px; }
.u-paddingTop--30 { padding-top: 30px; }
.u-paddingBottom--normal { padding-bottom: 12px; }
.u-paddingBottom--30 { padding-bottom: 30px; }
.u-paddingRight--10 { padding-right: 10px; }
.u-paddingLeft--10 { padding-left: 10px; }
.u-paddingRight--5 { padding-right: 5px; }
.u-paddingRight--15 { padding-right: 15px; }
.u-paddingLeft--5 { padding-left: 5px; }
.u-paddingLeft--15 { padding-left: 15px; }
.u-paddingTop--10 { padding-top: 10px; }
.u-paddingBottom--10 { padding-bottom: 10px; }
.u-marginLeft--small { margin-left: 6px; }
.u-marginLeft--normal { margin-left: 12px; }
.u-marginRight--small { margin-right: 6px; }
.u-marginRight--normal { margin-right: 12px; }
.u-marginBottom--small { margin-bottom: 6px; }
.u-marginTop--small { margin-top: 6px; }
.u-marginBottom--normal { margin-bottom: 12px; }
.u-marginTop--normal { margin-top: 12px; }
.u-marginBottom--30 { margin-bottom: 30px; }
.u-marginBottom--40 { margin-bottom: 40px; }
.u-marginBottom--50 { margin-bottom: 50px; }
.u-marginTop--30 { margin-top: 30px; }
.u-marginTop--40 { margin-top: 40px; }
.u-marginTop--50 { margin-top: 50px; }
.u-marginRight--30 { margin-right: 30px; }
.u-marginRight--50 { margin-right: 50px; }
.u-marginLeft--30 { margin-left: 30px; }
.u-marginLeft--50 { margin-left: 50px; }
.u-marginBottom--20 { margin-bottom: 20px; }
.u-marginTop--20 { margin-top: 20px; }
.u-marginRight--20 { margin-right: 20px; }
.u-marginLeft--20 { margin-left: 20px; }
.u-marginBottom--10 { margin-bottom: 10px; }
.u-marginTop--15 { margin-top: 15px; }
.u-marginTop--10 { margin-top: 10px; }
.u-marginRight--10 { margin-right: 10px; }
.u-marginLeft--10 { margin-left: 10px; }
.u-modalPadding { padding: 25px; }

/* Display utilities */

.u-display--block { display: block; }
.u-display--inlineBlock { display: inline-block; }

/* Border classes */

.u-borderAll--gray { border: 1px solid #C4C8CA; }
.u-borderTop--gray { border-top: 1px solid #C4C8CA; }
.u-borderRight--gray { border-right: 1px solid #C4C8CA; }
.u-borderBottom--gray { border-bottom: 1px solid #C4C8CA; }
.u-borderLeft--gray { border-left: 1px solid #C4C8CA; }
