@import "../components/forms/input.scss";
@import "../components/forms/textarea.scss";
@import "../components/forms/select.scss";

.Form-label {
  font-size: 14px;
  font-weight: 700;
  color: #323232;
  margin-bottom: 12px;
}
.Form-label-subtext {
  font-size: 12px;
  line-height: 18px;
  color: #9B9B9B;
  font-weight: 400;
}

.BoxedCheckbox-wrapper {
  margin: 0 6px;
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

.BoxedCheckbox {
  border: 1px solid #C4C7CA;
  border-radius: 4px;
  padding: 12px;
  background-color: #ffffff;
  cursor: pointer;
  
  &.is-active {
    border-color: #73A3CD;
    background-color: #F5F8FC;
  }

  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;

    > * {
      cursor: not-allowed;
    }
  }
}

.config-errblock {
  display: none;
  font-size: 14px;
  color: #BC4752;
  font-weight: 500;
  line-height: 20px;

  &.visible {
    display: inline-block;
  }
}

.field-label {
  font-size: 12px;
  line-height: 12px;
  padding: 2px 4px 3px;
  border-radius: 2px;

  &.required {
    background-color: #FFEFD4;
    color: #DB9016;
  }
  &.recommended {
    background-color: #EAFFF0;
    color: #44BB66;
  }
}
