/* Fonts */
$font-family:               "Helvetica Neue", "Helvetica", sans-serif;
$header-color:             #323232;
$sub-header-color:         #4A4A4A;
$font-color:               #9B9B9B;
$link-color:               #337AB7;
$highlight-color:          #3B98FC;

/* Navigation */
$navbar-background:        #ffffff;
$navbar-label-color:       #323232;

/* Sidebar */
$sidebar-background:        #193B5B;
$sidebar-label-color:       #ffffff;

/* Buttons */
$primary-background-color:  #337AB7;
$primary-text-color:        #ffffff;
$secondary-background-color:#DFDFDF;
$secondary-text-color:      #717171;

/* Loader */
$loader-color:              #337AB7;