apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: sidecarInjectorWebhook
    istio: sidecar-injector
    release: istio
  name: istio-sidecar-injector-service-account
  namespace: default
