apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  labels:
    app: gateways
    chart: gateways-1.0.3
    heritage: Tiller
    release: istio
  name: istio-egressgateway-default
rules:
- apiGroups:
  - extensions
  resources:
  - thirdpartyresources
  - virtualservices
  - destinationrules
  - gateways
  verbs:
  - get
  - watch
  - list
  - update
