.console-toggle {
    position: absolute;
    z-index: 100;
    right: 12px;
    top: 7px;
    padding: 4px;
    border-radius: 4px;
    cursor: pointer;
  }
  .console-wrapper {
    position: absolute;
    transform: translateX(100%);
    transition: transform .2s;
    top: 0;
    bottom: 0;
    right: 0;

    /* ≥ 1024px */
    @media screen and (max-width: 64em) {
      & {
        width: 50%;
      }
    }
  
    &.visible {
      position: relative;
      transform: translateX(0);
    }
  }
  .Linter-wrapper {
    border-left: 1px solid #C4C8CA;
    background-color: #ffffff;
  }
  .Linter-wrapper .Linter-header {
    padding: 8px 12px;
    background-color: #F5F8FC;
    line-height: 16px;
    border-bottom: 1px solid #C4C8CA;
  }
  .Linter-wrapper .ConsoleBlock {
    padding: 12px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    box-sizing: border-box;
    width: 100%;
  }
  .Linter-wrapper .ConsoleBlock .icon {
    position: relative;
  
    &.u-linkIcon--blue {
      top: 4px;
    }
  }
  .Linter-wrapper .ConsoleBlock.error {
    background-color: #FBEDEB;
    border-bottom: 1px solid #E9DBDB;
    color: #BC4752;
  }
  .Linter-wrapper .ConsoleBlock.warn {
    background-color: #FFF1DA;
    border-bottom: 1px solid #F9E8CB;
    color: #717171;
  }
  .Linter-wrapper .ConsoleBlock.info {
    background-color: #F8F8F8;
    border-bottom: 1px solid #F0F0F0;
    color: #717171;
  }
  .Linter-wrapper .readme {
    margin: 0 10px 10px;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    border: solid #C4C7CA 1px;
  }
  .Linter--toggle {
    margin: 10px 20px 20px;
  
    & > div {
      flex: 1;
    }
  
    span {
      flex: 1;
      font-size: 12px;
      padding: 5px;
      border: solid 1px #9B9B9B;
      cursor: pointer;
      text-align: center;
    }
  
    span:first-of-type {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    span:last-of-type {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  
    .is-active {
      background: #9B9B9B;
      color: #fff;
    }
    .not-active {
      background: transparent;
      color: #9B9B9B;
    }
  }
  