@import "../variables/variables.scss";

html {
  height: 100%
}

body {
  font-family: $font-family;
  font-weight: 400;
  color: $font-color;
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;  
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}