@import "../variables/variables.scss";

html {
  height: 100%
}

body.ship-init {
  font-family: $font-family;
  font-weight: 400;
  color: $font-color;
  display: flex;
  flex-direction: column;
  flex: 1;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  * { 
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    outline: none;
    font-weight: 500;
    color: $link-color;
  
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  
  .field-section-header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .field-section-sub-header {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
  }
  .field.hidden {
    display: none;
  }
  .header-color {
    color: $header-color;
  }
  .sub-header-color {
    color: $sub-header-color;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .container {
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
  }
  
  /* don't let that chrome autofill yellow ruin the aesthetic of your site */
  input:-webkit-autofill {
    background-color: #ffffff;
  }
  
  .layout-footer-actions {
    box-shadow: 0 -1px 3px rgba(0,0,0,0.16);
    padding: 12px 30px 11px;
    background-color: #ffffff;
    z-index: 110;
  
    &.less-padding {
      padding: 12px 20px 11px;
    }
  }
  
  .spinningLoaderPath {
    fill: $loader-color
  }
  
  .AceEditor--wrapper {
    position: relative;
    box-sizing: border-box;
    
    .error-highlight {
      background:#FBEDEB;
      position: absolute;
    }
  
    .disabled-ace-editor {
      opacity: .5;
    }
  
    .ace_search {
      left: 0;
      right: auto;
    }
  }
  
  /*
  Apply this class to any icon using main_spritesheet. From there
  all you need to do is supply a `width: [value]` `height: [value]`
  and `background-position: [value]`
  */
  .icon {
    background-image: url("../assets/images/main_spritesheet.svg");
    background-repeat: no-repeat;
    background-size: initial;
    display: inline-block;
    cursor: default;
    position: relative;
  }
  .icon.clickable {
    cursor: pointer;
  }
  
  /* Media Queries */
  
  /* ≥ 568px */
  @media screen and (min-width: 35.5em) {
  
  }
  
  /* ≥ 768px */
  @media screen and (min-width: 48em) {
    .container {
      padding: 0 30px;
    }
  }
  
  /* ≥ 960px */
  @media screen and (min-width: 60em) {
  
  }
  
  /* ≥ 1024px */
  @media screen and (min-width: 64em) {
  
  }
  
  /* ≥ 1280px */
  @media screen and (min-width: 80em) {
    
  }
  
  .hidden {
    display: none;
  }
  
  .actions-wrapper {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #fff;
    border-top: solid 1px #DFDFDF;
    z-index: 10;
  }
  
}