.u-color--chestnut {
  color: #BC4752;
}

.u-color--tuna {
  color: #323232;
}

.u-color--navy {
  color: #193B5B
}

.u-color--astral {
  color: #337AB7;
}

.u-color--tundora {
  color: #4A4A4A;
 }
 
 .u-color--doveGray {
   color: #717171;
 }
 
.u-color--dustyGray {
  color: #9B9B9B;
}

.u-color--silverSand {
  color: #C4C7CA;
}

.u-color--vidaLoca {
  color: #65A61D;
}
.u-color--error {
  color: #EE5042;
}
