.icon {
  background-image: url("../assets/images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  cursor: default;
  position: relative;
}
.icon.clickable {
  cursor: pointer;
}

.hidden {
  display: none;
}

.actions-wrapper {
  padding-top: 12px;
  padding-bottom: 12px;
  background: #fff;
  border-top: solid 1px #DFDFDF;
  z-index: 10;
}

a {
  text-decoration: none;
  outline: none;
  font-weight: 500;
  color: $link-color;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.field-section-header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.field-section-sub-header {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  white-space: pre-line;
}
.field.hidden {
  display: none;
}
.header-color {
  color: $header-color;
}
.sub-header-color {
  color: $sub-header-color;
}

.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

/* don't let that chrome autofill yellow ruin the aesthetic of your site */
input:-webkit-autofill {
  background-color: #ffffff;
}

.layout-footer-actions {
  box-shadow: 0 -1px 3px rgba(0,0,0,0.16);
  padding: 12px 30px 11px;
  background-color: #ffffff;
  z-index: 110;

  &.less-padding {
    padding: 12px 20px 11px;
  }
}

.spinningLoaderPath {
  fill: $loader-color
}

.AceEditor--wrapper {
  position: relative;
  box-sizing: border-box;
  
  .error-highlight {
    background:#FBEDEB;
    position: absolute;
  }

  .disabled-ace-editor {
    opacity: .5;
  }

  .ace_search {
    left: 0;
    right: auto;
  }
}

/* ≥ 768px */
@media screen and (min-width: 48em) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
    box-sizing: border-box;
  }
}