apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  labels:
    app: gateways
    release: istio
  name: istio-egressgateway-default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: istio-egressgateway-default
subjects:
- kind: ServiceAccount
  name: istio-egressgateway-service-account
  namespace: default
