apiVersion: v1
kind: Service
metadata:
  annotations: null
  labels:
    app: istio-egressgateway
    istio: egressgateway
    release: istio
  name: istio-egressgateway
  namespace: default
spec:
  ports:
  - name: http2
    port: 80
  - name: https
    port: 443
  selector:
    app: istio-egressgateway
    istio: egressgateway
  type: ClusterIP
